.Bfermeture{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 10%;
    cursor: pointer;
    right: 0;
    top: -7.5%;
}
.Bfermeture span{  /* on initialise chaque span du bouton par défaut noir d'une certaine forme  */
    z-index: 3!important;
    position: absolute;
    width: 25px;
    height: 3px;
    background: #000000;
    border-radius: 4px;
}
.Bfermeture span:nth-child(1){ /* barre une */
    transform: rotate(50deg);
}
.Bfermeture span:nth-child(2){ /* barre deux */
    transform: rotate(-50deg);
}